:root {
  /* Font-family */
  --main-font: 'Raleway', sans-serif;
  --main-fz: 14px;
  --main-fs: normal;
  /* Colors */
  --main-color: #1d2f38;
  --secondary-color: #333333;
  --accent-color: #10843f;
  --btn-color: #17a550;
  --main-bg-color: #fff;
  --section-bg-color: #aabcc5;
}

body {
  font-family: var(--main-font);
  font-style: var(--main-fs);
  font-size: var(--main-fz);
  color: var(--main-color);
  /* width: 1150px; */
  margin: 0 auto;
}
/* Common Styles */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.btn {
  background-color: transparent;
  border-style: none;
}
.accent {
  color: var(--accent-color);
}
.top {
  padding-top: 64px;
}
/* Header */
.header {
  display: flex;
  line-height: 1.43;

  align-items: center;
  width: 1150px;
  margin: 0 auto;
  padding-top: 15px;
  margin-bottom: 60px;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item {
  display: flex;
}
.header-item + .header-item {
  margin-left: 30px;
}

.header-btn {
  color: inherit;
}
.header-sing {
  display: flex;
  align-items: center;
}

.img-btn {
  margin-left: 365px;
}
/* Main Content */
main {
  background-color: var(--main-bg-color);
  width: 1150px;
  margin: 0 auto;
}

/* Hero section */
.hero {
  display: flex;

  background-color: #e3ebf1;
  width: 1150px;
  height: 486px;
  border-radius: 5px;
  margin-bottom: 80px;
}

.accent-text {
  font-weight: 700;
}
.hero-text {
  font-size: 18px;
  line-height: 1.39;
  margin-bottom: 8px;
}
.hero-title {
  font-family: 'Bitter', sans-serif;

  font-size: 47px;
  line-height: 1.1;
  margin-top: 8px;
  margin-bottom: 22px;
}
.hero-btn {
  font-size: 15px;
  line-height: 1.33;
  background-color: var(--btn-color);
  color: var(--main-bg-color);
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 60px;
}
.hero-img {
  margin: 50px;
}
/* Blog Section */

.blog {
  display: flex;
}
.blog-title {
  font-family: 'Bitter', sans-serif;

  font-size: 38px;
  line-height: 1.05;
}

.blog-subtitle {
  font-family: 'Bitter';

  font-size: 30px;
  line-height: 1.17;
}
.blog-text {
  font-size: 15px;
  line-height: 1.33;
}
.blog-list {
  margin-top: 102px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.items-img {
  margin-bottom: 20px;
}
.items-text {
  font-size: 18px;
  line-height: 1.39;
  margin-left: 15px;
}
.blog-view {
  margin-top: 75px;
}
.blog-btn {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 100px;
}

/* View section */
.view {
  display: flex;
  align-items: center;
  height: 115px;
  background-image: url('../img/main/bgc.png');
  margin-bottom: 100px;
}

.view-img {
  padding-left: 30px;
}

.view-text {
  font-family: 'Bitter';

  font-size: 28px;
  line-height: 1.14;
  padding-left: 12px;
}
.view-btn {
  font-size: 15px;
  line-height: 1.47;

  background-color: var(--btn-color);
  color: var(--main-bg-color);
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  margin-left: 300px;
}
/* Products Section */

.product-title {
  font-family: 'Bitter';
  font-size: 38px;
  line-height: 1.05;
  margin-bottom: 35px;
}
.product-list {
  display: flex;

  padding-inline-start: 0;
}

.product-items {
  width: 360px;
  height: 370px;
  margin-left: 40px;
  background-color: #f7f9fa;
}
.product-items:first-child {
  margin-left: 0;
}

.product-subtitle {
  font-family: 'Bitter';
  font-size: 30px;
  line-height: 1.17;
  margin: 25px 38px 13px 25px;
}
.product-text {
  font-size: 15px;
  line-height: 1.33;
  margin: 0px 33px 39px 25px;
}
.product-view {
  font-size: 16px;
  line-height: 1.25;
  margin: 40px 0px 100px 0px;
}
/* Sign Section */
.sign {
  display: flex;
  height: 425px;
  background-image: url('../img/main/bcgi.png');
  margin-bottom: 120px;
}
.sign-img {
  margin: 50px 0px 50px 50px;
}
.sign-wrap {
  width: 500px;
  height: 325px;
  margin: 50px;
}
.sign-row {
  display: flex;
  align-items: center;
}

.sign-title {
  font-family: 'Bitter';
  font-size: 30px;
  line-height: 1.17;
  margin-left: 10px;
}
.sign-text {
  font-size: 18px;
  line-height: 1.33;
  margin-top: 30px;
}
.sign-input {
  width: 500px;
  height: 50px;

  font-size: 12px;
  line-height: 1.67;

  color: #536d7a;
  padding-left: 15px;
  margin-bottom: 30px;
  border: 1px solid #aabcc5;
  border-radius: 5px;
}
.sign-btn {
  width: 82px;
  height: 50px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;

  text-align: center;

  background: #ffc728;
  border-radius: 5px;
  padding: 15px 19px;
}

.sign-link {
  font-size: 12px;
  line-height: 1.67;

  color: #536d7a;

  margin-left: 10px;
}

/* Footer */
.footer {
  height: 588px;
  background-color: #f7f9fa;
}
.foot {
  width: 1150px;
  margin: 0 auto;
}
